body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  color: hsl(0, 0%, 20%);
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.choices button:hover {
  background-color: hsl(200, 100%, 70%);
}

.display {
  font-size: 2.5rem;
}

#playerDisplay,
#computerDisplay {
  font-size: 3rem;
  font-family: monospace;
  color: rgb(78, 62, 249);
}

#resultDisplay {
  font-size: 5rem;
  margin: 30px 0;
}

/* Styling the score text  */
.scoreDisplay {
  font-size: 2rem;
}

/* Styling the result text differently according to the result */
.greenText,
#playerScoreDisplay {
  color: hsl(130, 84%, 54%);
}
.redText,
#computerScoreDisplay {
  color: hsl(0, 84%, 60%);
}
